@font-face {
    font-family: 'JAH';
    src: url(fonts/JustAnotherHand-Regular.ttf);
}
body{
    font-family: 'JAH';
    background-color: #bdbdbd;
    text-align: center;
    color: white;
}
h1{
    font-size: 100px;
    margin-top: 35px;
    margin-bottom: 35px;
}
button{
    border: black solid 3px;
    background-color: white;
    color: black;
    font-family: 'JAH';
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100px;
}
button:hover{
    background-color: rgb(230, 223, 223);
    border: black solid 3px;
}
.grid{
    display: flex;
    align-items: center;
    justify-content: center;
}
.row{
    display: flex;
    flex-direction: column;
}
.box{
    border: #bdbdbd solid 1px;
    box-sizing: border-box;
    background-color: white;
}